<ion-header>
    <ion-toolbar>
        <ion-buttons slot='end'>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Instalacao</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Instalação </h1>
    <h2>Ferramentas</h2>
    <ul>
        <li>Instalar NodeJs</li>
        <li>Instalar editor de sua preferencia</li>
        <ul>
            <li>Visual Studio code</li>
            <li>Atom</li>
            <li>Sublime</li>
            <li>Etc</li>
        </ul>
    </ul>
    <h2>Instalando ionic via node</h2>
    Abra o prompt de comando de preferencia em modo adm e execute p codigo.
    <p></p><b>npm install -g ionic</b>
    <h2>Criando o projeto</h2>

    Para criar um projeto vamos tilizar o comando a baixo <br>
    <b>ionic start nomedoprojeto tabs -type=angular</b>
    <p></p> Logo em seguida digite o seguinte comandono prompt.
    <b>cd nomedoseuprojeto cobe .</b>
    <br>Code irá abrir visualstudio na pasta do seu projeto

    <br><br>

    <img src="assets/apresentacao.png" alt="">

</ion-content>