<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>ComponentBadge</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content papping>
    <ion-badge color="primary">
        <h2>25</h2>
    </ion-badge>
    <ion-badge color="warning">
        <h2>25</h2>
    </ion-badge>
    <ion-badge color="tertiary">
        <h2>25</h2>
    </ion-badge>
    <ion-badge color="danger">
        <h2>25</h2>
    </ion-badge>

    <ion-list>
        <ion-item>
            <ion-icon name="man"></ion-icon>
            Seguidores
            <ion-badge color="dark" slot="end">300K</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon name="logo-bitcoin"></ion-icon>
            Bitcoins
            <ion-badge color="warning" mode="ios" slot='end'>1000K</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon name="eye"></ion-icon>
            Visualizações
            <ion-badge color="primary" mode="ios" slot="end">42</ion-badge>
        </ion-item>
        <ion-item></ion-item>

    </ion-list>


</ion-content>c