<ion-header>
    <ion-buttons>
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
        <ion-title>Select</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="block" (click)="showToast()">Exibir Toast Default </ion-button>
    <ion-button expand="block" (click)="showToastPosition('top')">Exibir Toast Top </ion-button>
    <ion-button expand="block" (click)="showToastPosition('middle')">Exibir Toast Middle </ion-button>
    <ion-button expand="block" (click)="showToastButton()">Exibir Toast Button</ion-button>

</ion-content>