<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Component Button</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button>Default</ion-button>
    <br>
    <ion-button href="http://ilovecode.com.br">Button link ilove code</ion-button>
    <br>
    <ion-button href="/component" goback>Back for page components</ion-button>
    <br>
    <ion-button color="primary">primary</ion-button>
    <br>
    <ion-button color="secondary">Secondary</ion-button>
    <br>
    <ion-button color="tertiary">Tertiary</ion-button>
    <br>
    <ion-button color="success">Success</ion-button>
    <br>
    <ion-button color="warning">Warning</ion-button>
    <br>
    <ion-button color="danger">danger</ion-button>
    <br>
    <ion-button color="light">Light</ion-button>
    <br>
    <ion-button color="medium">Medium</ion-button>
    <br>
    <ion-button color="dark">Dark</ion-button>
    <br>
    <ion-button expand="full">Full Button</ion-button>
    <br>
    <ion-button expand="block">Block Button</ion-button>
    <br>
    <ion-button round>Round Button</ion-button>
    <br>
    <ion-button round fill="outline">Outline + Round</ion-button>
    <br>
    <ion-button fill="outline" expand="full">Full + Outline</ion-button>
    <br>
    <ion-button color="danger">
        <ion-icon name="star" slot="start"></ion-icon>
        Like
    </ion-button>
    <br>
    <ion-button color="danger">
        <ion-icon name="star" slot="end"></ion-icon>
        Like
    </ion-button>
    <br>
    <ion-button color="danger">
        <ion-icon name="star" slot="icon-only"></ion-icon>
        Like
    </ion-button>
    <br>
    <ion-button color="dark" size="small">Tamanho Pequeno</ion-button>
    <br>
    <ion-button color="dark">Tamanho Default</ion-button>
    <br>
    <ion-button color="dark" size="large">Tamanho Grande</ion-button>

</ion-content>