<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Components</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" (click)="abrirPagina('component-action-sheet')">Component Action Sheet </ion-button>
    <ion-button expand="full" (click)="abrirPagina('component-alert')">Component Action Alert</ion-button>
    <ion-button expand="full" (click)="abrirPagina('component-badge')">Component Action Badge</ion-button>
    <ion-button expand="full" (click)="abrirPagina('component-button')">Component Action Button</ion-button>
    <ion-button expand="full" color="warning" (click)="abrirPagina('component-card')">component Action Card</ion-button>
    <ion-button expand="full" color="medium" (click)="abrirPagina('component-check-box')">component action checkbox</ion-button>
    <ion-button expand="full" color="secondary" (click)="abrirPagina('component-radio')">Component Action radio</ion-button>
    <ion-button expand="full" color="danger" (click)="abrirPagina('component-calendar')">Component Calendar date time</ion-button>
    <ion-button expand="full" color="tertiary" (click)="abrirPagina('component-fab')">Component Action Fab</ion-button>
    <ion-button expand="full" color="light" (click)="abrirPagina('component-input')">Component action Input</ion-button>
    <ion-button expand="full" color="primary" (click)="abrirPagina('component-list')">Component action List</ion-button>
    <ion-button expand="full" color="secondary" (click)="abrirPagina('component-loading')">Component action Loading</ion-button>
    <ion-button expand="full" (click)="abrirPagina('component-modal')">Component Action Modal</ion-button>
    <ion-button expand="block" (click)="abrirPagina('component-range')">Component action Range</ion-button>
    <ion-button expand="block" (click)="abrirPagina('component-select')">Component Action Select</ion-button>
    <ion-button expand="block" (click)="abrirPagina('component-infinity-scrull')">Infinity Scrull</ion-button>
    <ion-button expand="block" (click)="abrirPagina('component-popover')">Component Action Popover</ion-button>
    <ion-button expand="block" (click)="abrirPagina('component-refresher')">Component Action Refresher</ion-button>
    <ion-button expand="block" (click)="abrirPagina('component-search-bar')">Component Action SearchBar</ion-button>
    <ion-button expand="block" (click)="abrirPagina('component-toggle')">Component Action Toggle</ion-button>



</ion-content>