<ion-header>
    <ion-buttons slot="end">
        <ion-back-button slot="end"></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
        <ion-title>Toggle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>


            <ion-label>Laranja</ion-label>
            <ion-toggle color="warning" mode="ios"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Maça</ion-label>
            <ion-toggle color="medium" mode="ios"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Abacate</ion-label>
            <ion-toggle color="success" mode="ios"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Banana</ion-label>
            <ion-toggle mode="ios"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Banana</ion-label>
            <ion-toggle color="danger" checked></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>