<ion-header>
    <ion-buttons slot="end"></ion-buttons>
    <ion-back-button slot="end"></ion-back-button>
    <ion-toolbar>
        <ion-title>Loading</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="block" (click)="exibeLoadingDefault()">Loading default</ion-button>

    <ion-button expand="block" (click)="showLoadingCostumaizer()">Loading Custumizado </ion-button>
    <ion-button expand="block" (click)="showLoadingCostumaizer()">Loading Custumizado </ion-button>

    <ion-button expand="block" (click)="showLoadingCostumaizerName('dots')">Loading Circles</ion-button>
    <ion-button expand="block" (click)="showLoadingCostumaizerName('circular')">Loading Circular </ion-button>
    <ion-button expand="block" (click)="showLoadingConsumindoApi()">Consumindo Api </ion-button>

</ion-content>