<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start"></ion-buttons>
        <ion-back-button></ion-back-button>
        <ion-title>Component - Alert</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button expand="full" (click)="abrirAlertSimples()">Abrir action Alert</ion-button>
    <ion-button expand="full" (click)="abrirAlertMultBotoes()">Abrir Alert Multiple Buttons</ion-button>
    <ion-button expand="full" (click)="abrirAlertConfirmacao()">Abrir Alert Confirmaçao </ion-button>
    <ion-button expand="full" (click)="abrirPrompt()">Abrir Prompt pode ser utulizado em login</ion-button>
    <ion-button expand="full" (click)="abrirRadio()">Radio Button</ion-button>
    <ion-button expand="full" (click)="abrirChekBox()">Chek - Box</ion-button>
</ion-content>