<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button badge color="danger"></ion-back-button>
        </ion-buttons>
        <ion-title badge color="danger">Layout - CssUtilities</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div text-start>
                    <h3>text-start</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
            <ion-col>
                <div text-end>
                    <h3> text-end</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div text-justfy>
                    <h3>text-justify</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
            <ion-col>
                <div text-nowrap>
                    <h3>text-nowrap</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div text-center>
                    <h3>text-center</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div text-left>
                    <h3>text-left</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
            <ion-col>
                <div text-right>
                    <h3>text-right</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br><br>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div text-uppercase>
                    <h3>text-uppercase</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
            <ion-col>
                <div text-lowercae>
                    <h3> text-lowercase</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div text-capitalize>
                    <h3>text-capitalize</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
            <ion-col>
                <div text-nowrap>
                    <h3>text-nowrap</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div text-center>
                    <h3>text-center</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div text-left>
                    <h3>text-left</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
            <ion-col>
                <div text-right>
                    <h3>text-right</h3>
                    Neste curoso voce vai aprender todos os componentes que o ionic pode oferecer
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div text-sm-center text-md-left text-lg-end text-xl-uppercase>
        <h3>Trabalhando com responsividade</h3>
    </div>
    <br><br>

    <ion-grid>
        <ion-row>
            <ion-col padding>
                <div>
                    Padding
                </div>
            </ion-col>
            <ion-col padding-top>
                <div>
                    padding-top
                </div>
            </ion-col>
            <ion-col padding-start>
                <div>
                    Padding-start
                </div>
            </ion-col>
            <ion-col padding-end>
                <div>
                    padding-end
                </div>
            </ion-col>
            <ion-col padding-bottom>
                <div>
                    padding-bottom
                </div>
            </ion-col>
            <ion-col padding-vetical>
                <div>
                    padding-vertical
                </div>
            </ion-col>
            <ion-col padding-horizoltal>
                <div>
                    padding-horizontal
                </div>
            </ion-col>
            <ion-col no-padding>
                <div>
                    no-padding
                </div>
            </ion-col>
            <ion-col>
                <div>

                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>